.chip-container
  @media (min-width: 550px)
    position: relative
    display: flex
    .q-chip
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  .q-chip
    background: $grey-800
    width: 100%
    padding: 0 10px
    justify-content: flex-end
    margin: 0
    @media (max-width: 767px)
      font-size: 10px
      padding: 0 0 0 4px
    @media (max-width: 549px)
      font-size: 9px
      padding: 0 2px
      min-width: fit-content
    &.high-occupation
      background: $secondary !important
    &.extreme-occupation
      background: $red !important
    &__content
      display: flex
      justify-content: flex-end

  .avatar
    z-index: 2
    box-shadow: none
    border: 1px solid $grey-600
    @media (min-width: 1024px)
      width: 2.5rem
      height: 2.5rem
    @media (max-width: $breakpoint-sm-max)
      width: 2rem
      height: 2rem
    @media (max-width: 767px)
      width: 1.5rem
      height: 1.5rem
