.chip-container
  display: flex
  position: relative
  .q-chip
    cursor: pointer
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 0 10px
    justify-content: flex-end
  @media (max-width: 767px)
    .q-chip
      font-size: 10px
      padding: 0 2px
  @media (max-width: 549px)
    .q-chip
      display: none
  .q-chip
    background: $dark-grey
    margin: 0
    &.high-occupation
      background: $secondary !important
    &.extreme-occupation
      background: $red !important

  .avatar
    z-index: 2
    box-shadow: none
    border: 1px solid #979797
    @media (min-width: 1025px)
      width: 2.5rem
      height: 2.5rem
    @media (max-width: 1024px)
      width: 1.5rem
      height: 1.5rem
