// colors can be used as quasar color <ni-button color="grey-xxx" ... />

// default grey is grey-400
.text-grey {
  color: $grey;
}
.bg-grey {
  background: $grey;
}

.text-grey-800 {
  color: $dark-grey;
}
.bg-grey-800 {
  background: $dark-grey;
}

.text-grey-400 {
  color: $grey;
}
.bg-grey-400 {
  background: $grey;
}

.text-grey-300 {
  color: $middle-grey;
}
.bg-grey-300 {
  background: $middle-grey;
}

.text-grey-100 {
  color: $light-grey;
}
.bg-grey-100 {
  background: $light-grey;
}
