// over-riding default grey color as grey-400
.text-grey
  color: $grey-400
.bg-grey
  background: $grey-400

// adding our other shades of grey in quasar color palette
//GREY
.text-grey-800
  color: $grey-800
.bg-grey-800
  background: $grey-800

.text-grey-600
  color: $grey-600
.bg-grey-600
  background: $grey-600

.text-grey-300
  color: $grey-300
.bg-grey-300
  background: $grey-300

.text-grey-400
  color: $grey-400
.bg-grey-400
  background: $grey-400

.text-grey-100
  color: $grey-100
.bg-grey-100
  background: $grey-100

// PINK
.text-pink-800
  color: $pink-800
.bg-grey-800
  background: $pink-800

.text-pink-500
  color: $pink-500
.bg-pink-500
  background: $pink-500

.text-pink-400
  color: $pink-400
.bg-pink-400
  background: $pink-400

.text-pink-100
  color: $pink-100
.bg-pink-100
  background: $pink-100

// PEACH
.text-peach-100
  color: $peach-100
.bg-peach-100
  background: $peach-100

.text-peach-200
  color: $peach-200
.bg-peach-200
  background: $peach-200

// OTHER
.text-green-800
  color: $green-800
.bg-green-800
  background: $green-800

.text-orange-500
  color: $orange-500
.bg-orange-500
  background: $orange-500

.text-red-800
  color: $red-800
.bg-red-800
  background: $red-800
