// colors can be used as quasar colors <ni-button color="grey-xxx" ... />

// over-riding default grey in quasar colors as grey-400
.text-grey {
  color: $grey;
}
.bg-grey {
  background: $grey;
}

// adding our 4 shades of grey in quasar colors as grey-XXX
.text-grey-800 {
  color: $dark-grey;
}
.bg-grey-800 {
  background: $dark-grey;
}

.text-grey-400 {
  color: $grey;
}
.bg-grey-400 {
  background: $grey;
}

.text-grey-300 {
  color: $middle-grey;
}
.bg-grey-300 {
  background: $middle-grey;
}

.text-grey-100 {
  color: $light-grey;
}
.bg-grey-100 {
  background: $light-grey;
}
