.reset-filters
  color: $primary;
  text-decoration: underline;
  font-size: 12px;
  display: flex;
  justify-content: flex-startt;
  align-items: flex-end;
  padding-bottom: 20px;
  @media screen and (min-width: 767px)
    padding-left: 10px;
  @media screen and (max-width: 767px)
    justify-content: flex-end;
  span
    cursor: pointer;
