.history
  margin: 2px
  width: 100%
  display: block
  font-size: 13px
  &:after
    content: ""
    display: block
    margin: auto
    width: 95%
    border-bottom: 1px solid $neutral-grey
  &-title
    margin: 2px 10px 0 2px;
    padding: 5px;
  &-details
    font-size: 12px;
    color: $dark-grey;  
    margin: 3px 0 5px;
  &-signature
    color: $dark-grey
    font-size: 12px
    font-style: italic
    display: flex
    align-items: center
    margin: 2px 0 3px;
    div
      margin-left: 5px
  &-info
    display: flex;
    div
      flex: 1;

.title-bold
  font-weight: bold;
  color: #2E2E2E
  
.avatar
  height: 20px !important
  width: 20px !important

.type
  color: $primary

.button
  height: 20px;
