.history
  margin: 2px
  width: 100%
  display: block
  font-size: 13px
  &:after
    content: ""
    display: block
    margin: auto
    width: 95%
    border-bottom: 1px solid $neutral-grey
  
.avatar
  height: 20px !important
  width: 20px !important


.history-details
  font-size: 12px;
  color: $dark-grey;

.history-signature
  color: $dark-grey
  font-size: 12px
  font-style: italic
  display: flex
  align-items: center
  