.dot
  width: 9px
  height: 9px
  border-radius: 50%
  display: inline-block
  margin: 0 20px 0 3px;
  &-active
    background: $accent
  &-inactive
    background: $pink-800
  &-error
    background: $warning

.balance-icon
  cursor: default !important
  margin-right: 4px
