.activeDot
  background: $accent
  width: 9px
  height: 9px
  border-radius: 50%
  display: inline-block
  margin: 0 3px

.inactiveDot
  background: $primary-dark
  width: 9px
  height: 9px
  border-radius: 50%
  display: inline-block
  margin: 0 3px

.balance-icon
  cursor: default !important
  margin-right: 4px
