.dot
  width: 9px
  height: 9px
  border-radius: 50%
  display: inline-block
  margin: 0 20px 0 3px;
  &-active
    background: $green-800
  &-inactive
    background: $pink-800
  &-error
    background: $orange-500
  &-stopped
    background: $red-800
  &-archived
    background: $grey-400

.balance-icon
  cursor: default !important
  margin-right: 4px

.info
  &-active
    color: $green-800
  &-warning
    color: $orange-500
