.q-input-target
  line-height: 20px
  &:before
    line-height: 20px

.input-caption
  font-size: 12px
  margin: 0 0 4px 0

.margin-input
  margin-bottom: 6px
  &.last
    margin-bottom: 24px

.q-uploader .q-input-target
  visibility: hidden
  position: relative
  &:after
    visibility: visible
    position: absolute
    top: 0
    left: 0
    content: 'Pas de document'
    font-size: 12px

.required::after
  content: ' *'

.select-icon
  display: flex !important;
  margin: 0 0 0 10px;

.pink-icon
  color: $primary !important;
  font-size: 22px;

.borders
  .q-field__control
    border: 1px solid $light-grey
    border-radius: 3px

.q-input
.q-textarea
  .q-field__control
    font-size: 16px
    padding-left: 14px !important
    padding-right: 14px !important
    border-radius: 3px

.q-select
  .q-field__inner
    height: 40px
  .q-field__control
    font-size: 16px
    padding-left: 14px !important
    padding-right: 14px !important
    border-radius: 3px

.q-field__inner
  .q-field__append
    .text-negative
      display: none
  .q-field__bottom
    color: $secondary
    padding-top: 3px;