.modal
  &-container-md
    background-color: $white
    min-width: 45vw;
    @media screen and (min-width: 768px)
      max-width: 65vw
  &-container-sm
    background-color: $white
    min-width: 30vw
    @media screen and (min-width: 768px)
      max-width: 50vw
  &-padding
    padding: 24px 25px 0px 25px
    & .q-btn-toggle
      margin-bottom: 20px

  &-btn
    border-radius: 0
    height: 45px
    padding: 0px 25px
    .q-btn-inner
      justify-content: left
      font-size: 18px
      justify-content: space-between
      div
        flex-grow: 1
        text-align: left

  &-btn-close
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    & .q-icon
      font-size: 21px

.q-toolbar
  padding: 20px 58px
  background-color: white
  color: black

.q-dialog__inner
  &--minimized > div
    max-width: none

.q-dialog
  .full-height
    .q-card__section
      padding-left: 0px !important

.q-field
  .q-field__inner
    .q-field__control
      .q-field__control-container
        overflow: hidden
        word-wrap: no-wrap
