$white = #FFFFFF
$primary = $pink-500
$secondary = #F29400
$accent = #0F9319
$positive = #21BA45
$negative = #DB2828
$warning = #F2C037

// GREY
$grey-800 = #4E4E4E
$grey-600 = #737373
$grey-400 = #9B9B9B
$grey-300 = #D0D0D0
$grey-100 = #EEEEEE

// PINK
$pink-800 = #8D0E56
$pink-500 = #E2007A
$pink-400 = #E6C6D6
$pink-100 = #FFECF6

// PEACH
$peach-200 = #EBD2B8
$peach-100 = #FFEDDA
