$primary = #E2007A
$primary-light = #FF54B0
$primary-dark = #A63A77

$secondary = #F29400
$accent = #0F9319

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$light-purple = #E6C6D6
$black = #000000
$dark-grey = #4E4E4E
$grey = #9B9B9B
$light-grey = #D0D0D0
$white = #FFFFFF
$light-pink= #FFECF6

$messenger-blue = #0084ff