$primary = #E2007A
$primary-light = #FFECF6
$primary-dark = #A63A77

// Background
$neutral-grey = #EEE
$neutral-beige = #FFEDDA
$middle-beige = #EBD2B8

// Notify
$positive = #21BA45
$negative = #DB2828
$warning = #F2C037

$dark-grey = #4E4E4E
$grey = #9B9B9B
$middle-grey = #D0D0D0
$light-grey = #EEEEEE

$white = #FFFFFF
$secondary = #F29400
$accent = #0F9319
$light-purple = #E6C6D6
