.questionnaire-container
  background: $copper-grey-100
  height: 95vh
  display: flex
  flex-direction: column
  align-items: center
  padding: 5% 10%
  @media screen and (max-width: $breakpoint-md)
    padding: 10%

.btn-container
  position: fixed
  bottom: 5vh
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.btn
  width: 40vw
  @media screen and (max-width: $breakpoint-md)
    width: 75vw 
  &-back
    width: 5vw
    margin: 0px 16px

.card-container
  display: flex
  flex: 1
  flex-direction: column
  align-items: center
  padding: 0 15vw
  @media screen and (max-width: $breakpoint-md)
    padding: 0 2vw

.card
  padding: 16px 32px
  width: 100%
