.back-btn
  width: 5vw
  position: absolute
  top: 90vh
  left: 25vw
  @media screen and (max-width: $breakpoint-md)
    left: 4vw

.btn
  position: absolute
  top: 90vh
  left: 30vw
  width: 40vw
  @media screen and (max-width: $breakpoint-md)
    left: 15vw
    width: 75vw  

.elm-width
  width: 40vw
  @media screen and (max-width: $breakpoint-md)
    left: 10vw
    width: 80vw

.card-container
  display: flex
  flex: 1
  flex-direction: column
  align-items: center
